.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-header{
    height: 30%;
    margin: auto;
    width: 100%;
    background: #5d6770;
    color: white;
    text-align: center;
}

.card-header p{
    font-size: 20px;
}

.container{
    padding: 4px 16px;
}
.btn-edit:hover{
    background-color: rgb(28, 145, 28);
    transform: scale(1.05);
}